.containerFluid {
  background-color: #0056b3;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 50px;
}
.container {
  margin: 0 auto;
  padding: 20px;
}

.productList {
  list-style: none;
  padding: 0;
  overflow-y: scroll;
  flex-wrap: wrap;
  max-height: 500px;
  display: flex;
  gap: 24px;
  margin: 0 auto;
}

.productItem {
  border: 1px solid #ddd;
  padding: 18px;
  margin-bottom: 10px;
  border-radius: 16px;
  min-height: 400px;
  width: 300px;
  background-color: #ddd;
}
.productItem a {
  text-decoration: none;
  color: #000000;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 20px;
  height: 100%;
}
.productItem h2 {
  margin: 0 0 10px;
}
.textCards {
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: space-between;
}
.productItem p {
  margin: 0 0 10px;
}
.textCards h2 {
  font-size: 24px;
}
.BackBtn {
  color: #ffffff;
  font-size: 20px;
  text-decoration: none;
}
.containerFluid {
  padding: 40px;
}
